extends ../layoutAdmin

block content

   div(class="container marginleft")
      div(class="row margin")
      if Articulos.length>0
          each art in Articulos
              div(class="col-sm-6 col-md-4") 
                div(class="thumbnail")
                   img(class="Cardarticulo" width="1320" height="850" src="#{art.Portada}")
                   div(class="caption")
                    h4 #{art.Titulo}
                    p #{art.Descripcion}
                    p #{art.Fecha}
                      div(class="text-right")
                         a(href="/article/design/#{art._id}" class="btn btn-default btn-sm margin_right" role="button") Leer mas..
                         if valse
                             a(href="/articulo/update/#{art._id}" class="btn btn-primary btn-sm margin_right" role="button") Update
                             if estado    
                                 a(href="/articulo/below/#{art._id}/1" class="btn btn-danger btn-sm" role="button") Activar
                             else
                                 a(href="/articulo/below/#{art._id}/0" class="btn btn-danger btn-sm" role="button") Desactivar

      else
          div(class="coment text-center") No se encontraron Articulos!!
          br
          br
          br
          br
